@model List<Vm_Flight_name>
<style>
    body {
        background-color: linen;
    }

    table,
    td,
    th {
        border: 2px solid blue;
        border-collapse: collapse;
    }
</style>
<div class="m-4">
    <a class="btn btn-info col-2 " style="border-radius: 10px;" href="">جستجو</a>
    <input class="col-9" style="border-radius: 10px;" type="text">
</div>
<div>
    <table class="text-center col-12">
        <tr>
            <th>شرکت هوابیمایی</th>
            <th>مبدا</th>
            <th>مقصد</th>
            <th>ظرفیت</th>
            <th>زمان</th>
            <th>تاریخ</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Company</td>
                <td>@item.Source</td>
                <td>@item.Destination</td>
                <td>@item.Duty</td>
                <td>@item.Flight_time</td>
                <td>@item.Flight_date</td>
                <td><a class="btn btn-info" style="border-radius: 10px;" href="/home/login/@item.Id_Flight_name">رزرو</a>
                </td>
            </tr>
        }
    </table>
    <form action="/home/SearchDate">
        <div style="width: 250px; margin-right:auto; margin-top: 20px;">
            <form action="">
                <input style="text-align: center;" type="search" name="Date" placeholder="Year/Month/Day">
                <button type="submit" value="Search"
                    style=" position: relative; width: 75px; left: 192px; bottom: 30px;">جستجو</button>
            </form>
        </div>

    </form>
</div>
